body {
  margin: 0;
  overflow: hidden;
  background: black;
}

canvas {
  display: block;
}

#ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  font-family: Arial;
}

#score {
  padding: 10px;
  font-size: 20px;
}

#gameOver {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}